{% load bootstrap3 %}
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1,
 shrink-to-fit=no">
<title>Learning Log</title>


{% bootstrap_css %} {% bootstrap_javascript jquery='full' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/file_with_css.css' %}" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'learning_logs:index' %}"><strong>Auto magazine</strong></a>
    <a class="navbar-brand" href="{% url 'learning_logs:sections' %}">Auto section</a>
    {% if user.is_authenticated %}
    <span class="navbar-brand">Hello, {{ user.username }}.</span>
    <a class="navbar-brand" href="{% url 'users:logout' %}">Log out</a>
    {% else %}
    <a class="navbar-brand" href="{% url 'users:register' %}">Register</a>
    <a class="navbar-brand" href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</nav>
<main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</main>
</body>
</html>




