{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block page_header %}
  <h2>Edit entry</h2>
{% endblock page_header %}

{% block content %}
    <p>
        <h3><b><a href="{% url 'learning_logs:section' section.id %}" style="color: black">{{ section }}</a></b></h3>
    </p>

    <form action="{% url 'learning_logs:edit_model' model.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
        <button class="button" style="color: black">Save change</button>
    </form>
{% endblock content %}